<h3>Detalhes do Produto</h3>
<span>Você está editando: </span> <strong>{{ selected_product.name }}</strong>
<br />
{{ selected_product.description }}


    <span class="image left">
        <img
          src="{{ selected_product.photo }}"
          alt="Foto de {{ selected_product.name }}"
        />
      </span>



 
  <input type="text" [(ngModel)]="selected_product.id" readonly /><br />
  <label for="">Nome</label>
  <input type="text" [(ngModel)]="selected_product.name" /><br />
  <label for="">Preço R$</label>
  <input type="text" [(ngModel)]="selected_product.price" /><br />
  <button (click)="update()" class="button">Atualizar Produto</button>
  <button (click)="delete()" class="button">Deletar</button>

  <button (click)="newProduct()" class="button primary">Novo</button>

