<h3>Produtos</h3>
<table class="alt">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Preço</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" (click)="productClicked(product)">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>

<!-- <p>
  {{ selected_product.id}}
</p> <br>
<p>
  {{ selected_product.name}}
</p> <br>
<p>
  {{ selected_product.description}}
</p> <br> -->
<router-outlet></router-outlet>
